<footer class="site-footer pt-5">
    <div class="col-xl-10 offset-xl-1 px-4">
      <div class="row mb-4">
        <div class="d-flex col-12 align-items-center text-white">
          <h1 class="fw-bold me-2 footer-main-title">ALiSEA</h1>
          <h3 class="text-uppercase fw-medium footer-secondary-title">Knowledge hub</h3>
        </div>
      </div>
      {% block footer_content %}

      <div class="d-flex flex-wrap mb-4 justify-content-between px-2">
        {% include "/snippets/footer_left.html" %}
        {% include "/snippets/footer_right.html" %}
      </div>
      <div class="row">
        <div class="col-md-8 footer-links">
        </div>
      </div>
      {% endblock %}
      <p class="text-white text-center mb-0">Copyright © 2024 - ALiSEA - All rights reserved.</p>
    </div>
  </footer>
  