<footer id="footer" class="pt-5 pb-3 text-white footer">
  <div class="col-xl-10 offset-xl-1">
      <div class="container-fluid">
          <div class="footer">
              <div class="row mb-4">
                  <div class="d-flex col-12 align-items-center">
                      <h1 class="fw-bold me-2">ALiSEA</h1>
                      <h3 class="text-uppercase fw-medium">{{ _('Knowledge hub') }}</h3>
                  </div>
              </div>
              <div class="d-flex flex-wrap mb-4 justify-content-between">
                  <div class="footer-description">
                      <p>
                         {{ _('The ALiSEA Knowledge Hub is coordinated on') }}<br>
                         {{ _('behalf of all ALiSEA network members by:') }}<br>
                         {{ _('ALiSEA Regional Coordination Office') }}<br>
                      </p>
                  </div>
                  <div class="footer-contact">
                      <ul class="list-unstyled">
                          <li class="footer-contact-item">
                              <span class="d-flex text-uppercase fw-bold">{{ _('Contact') }}</span>
                              <span>
                                  <a href="mailto:alisea_kh@xyz.abc" class="text-white text-decoration-none">alisea_kh@xyz.abc</a>
                              </span>
                          </li>
                          <li class="text-uppercase fw-bold footer-contact-item">
                              <a class="text-white text-decoration-none" href="">{{ _('Contributing and supporting partners') }}</a>
                          </li>
                          <li class="text-uppercase fw-bold footer-contact-item">
                              <a class="text-white text-decoration-none" href="">{{ _('Website privacy policy') }}</a>
                          </li>
                          <li class="text-uppercase fw-bold">
                              <a class="text-white text-decoration-none" href="">{{ _('Copyright regulation') }}</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 text-center">
                      <p class="mb-0">
                         {{ _('Copyright 2025 &copy; - ALiSEA - All rights reserved.') }}
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>