{% import 'macros/form.html' as form %}
    

    {{ form.select('adl1', label=_('Administrative level 1'), options='', error='') }}



<script>
    document.addEventListener('DOMContentLoaded', function() {
        const adl1Options = {
            "{{_('Cambodia')}}": [
            "{{_('Banteay Meanchey')}}",
            "{{_('Battambang')}}",
            "{{_('Kampong Cham')}}",
            "{{_('Kampong Chhnang')}}",
            "{{_('Kampong Speu')}}",
            "{{_('Kampong Thom')}}",
            "{{_('Kampot')}}",
            "{{_('Kandal')}}",
            "{{_('Kep')}}",
            "{{_('Koh Kong')}}",
            "{{_('Kratie')}}",
            "{{_('Mondul Kiri')}}",
            "{{_('Oddar Meanchey')}}",
            "{{_('Pailin')}}",
            "{{_('Phnom Penh')}}",
            "{{_('Preah Sihanouk')}}",
            "{{_('Preah Vihear')}}",
            "{{_('Prey Veng')}}",
            "{{_('Pursat')}}",
            "{{_('Ratanak Kiri')}}",
            "{{_('Siemreap')}}",
            "{{_('Stung Treng')}}",
            "{{_('Svay Rieng')}}",
            "{{_('Takeo')}}",
            "{{_('Tboung Khmum')}}"
        ],
        "{{_('Lao PDR')}}": [
            "{{_('Attapeu')}}",
            "{{_('Bokeo')}}",
            "{{_('Bolikhamxai')}}",
            "{{_('Champasak')}}",
            "{{_('Houaphan')}}",
            "{{_('Khammouan')}}",
            "{{_('Louangnamtha')}}",
            "{{_('Louangphabang')}}",
            "{{_('Oudomxai')}}",
            "{{_('Phongsaly')}}",
            "{{_('Salavan')}}",
            "{{_('Savannakhet')}}",
            "{{_('Vientiane')}}",
            "{{_('Vientiane Capital')}}",
            "{{_('Xaignabouly')}}",
            "{{_('Xekong')}}",
            "{{_('Xiengkhouang')}}"
        ],
        "{{_('Myanmar')}}": [
            "{{_('Mon')}}",
            "{{_('Ayeyarwady')}}",
            "{{_('Bago')}}",
            "{{_('Chin')}}",
            "{{_('Kachin')}}",
            "{{_('Kayah')}}",
            "{{_('Kayin')}}",
            "{{_('Magwe')}}",
            "{{_('Mandalay')}}",
            "{{_('Nay Pyi Taw')}}",
            "{{_('Rakhine')}}",
            "{{_('Sagaing')}}",
            "{{_('Shan')}}",
            "{{_('Tanintharyi')}}",
            "{{_('Yangon')}}"
        ],
        "{{_('Thailand')}}": [
            "{{_('Amnat Charoen')}}",
            "{{_('Ang Thong')}}",
            "{{_('Bangkok')}}",
            "{{_('Bueng Kan')}}",
            "{{_('Buri Ram')}}",
            "{{_('Chachoengsao')}}",
            "{{_('Chai Nat')}}",
            "{{_('Chaiyaphum')}}",
            "{{_('Chanthaburi')}}",
            "{{_('Chiang Mai')}}",
            "{{_('Chiang Rai')}}",
            "{{_('Chon Buri')}}",
            "{{_('Chumphon')}}",
            "{{_('Kalasin')}}",
            "{{_('Kamphaeng Phet')}}",
            "{{_('Kanchanaburi')}}",
            "{{_('Khon Kaen')}}",
            "{{_('Krabi')}}",
            "{{_('Lampang')}}",
            "{{_('Lamphun')}}",
            "{{_('Loei')}}",
            "{{_('Lop Buri')}}",
            "{{_('Mae Hong Son')}}",
            "{{_('Maha Sarakham')}}",
            "{{_('Mukdahan')}}",
            "{{_('Nakhon Nayok')}}",
            "{{_('Nakhon Pathom')}}",
            "{{_('Nakhon Phanom')}}",
            "{{_('Nakhon Ratchasima')}}",
            "{{_('Nakhon Sawan')}}",
            "{{_('Nakhon Si Thammarat')}}",
            "{{_('Nan')}}",
            "{{_('Narathiwat')}}",
            "{{_('Nong Bua Lam Phu')}}",
            "{{_('Nong Khai')}}",
            "{{_('Nonthaburi')}}",
            "{{_('Pathum Thani')}}",
            "{{_('Pattani')}}",
            "{{_('Phangnga')}}",
            "{{_('Phatthalung')}}",
            "{{_('Phayao')}}",
            "{{_('Phetchabun')}}",
            "{{_('Phetchaburi')}}",
            "{{_('Phichit')}}",
            "{{_('Phitsanulok')}}",
            "{{_('Phra Nakhon Si Ayutthaya')}}",
            "{{_('Phrae')}}",
            "{{_('Phuket')}}",
            "{{_('Prachin Buri')}}",
            "{{_('Prachuap Khiri Khan')}}",
            "{{_('Ranong')}}",
            "{{_('Ratchaburi')}}",
            "{{_('Rayong')}}",
            "{{_('Roi Et')}}",
            "{{_('Sa Kaeo')}}",
            "{{_('Sakon Nakhon')}}",
            "{{_('Samut Prakan')}}",
            "{{_('Samut Sakhon')}}",
            "{{_('Samut Songkhram')}}",
            "{{_('Saraburi')}}",
            "{{_('Satun')}}",
            "{{_('Si Sa Ket')}}",
            "{{_('Sing Buri')}}",
            "{{_('Songkhla')}}",
            "{{_('Sukhothai')}}",
            "{{_('Suphan Buri')}}",
            "{{_('Surat Thani')}}",
            "{{_('Surin')}}",
            "{{_('Tak')}}",
            "{{_('Trang')}}",
            "{{_('Trat')}}",
            "{{_('Ubon Ratchathani')}}",
            "{{_('Udon Thani')}}",
            "{{_('Uthai Thani')}}",
            "{{_('Uttaradit')}}",
            "{{_('Yala')}}",
            "{{_('Yasothon')}}"
        ],
        "{{_('Vietnam')}}": [
            "{{_('An Giang')}}",
            "{{_('B\u00e0 R\u1ecba - V\u0169ng T\u00e0u')}}",
            "{{_('B\u1eafc Giang')}}",
            "{{_('B\u1eafc K\u1ea1n')}}",
            "{{_('B\u1ea1c Li\u00eau')}}",
            "{{_('B\u1eafc Ninh')}}",
            "{{_('B\u1ebfn Tre')}}",
            "{{_('B\u00ecnh \u0110\u1ecbnh')}}",
            "{{_('B\u00ecnh D\u01b0\u01a1ng')}}",
            "{{_('B\u00ecnh Ph\u01b0\u1edbc')}}",
            "{{_('B\u00ecnh Thu\u1eadn')}}",
            "{{_('C\u00e0 Mau')}}",
            "{{_('C\u1ea7n Th\u01a1')}}",
            "{{_('Cao B\u1eb1ng')}}",
            "{{_('\u0110\u00e0 N\u1eb5ng')}}",
            "{{_('\u0110\u1eafk L\u1eafk')}}",
            "{{_('\u0110\u0103k N\u00f4ng')}}",
            "{{_('\u0110i\u1ec7n Bi\u00ean')}}",
            "{{_('\u0110\u1ed3ng Nai')}}",
            "{{_('\u0110\u1ed3ng Th\u00e1p')}}",
            "{{_('Gia Lai')}}",
            "{{_('H\u00e0 Giang')}}",
            "{{_('H\u00e0 Nam')}}",
            "{{_('H\u00e0 N\u1ed9i')}}",
            "{{_('H\u00e0 T\u0129nh')}}",
            "{{_('H\u1ea3i D\u01b0\u01a1ng')}}",
            "{{_('H\u1ea3i Ph\u00f2ng')}}",
            "{{_('H\u1eadu Giang')}}",
            "{{_('H\u1ed3 Ch\u00ed Minh city')}}",
            "{{_('H\u00f2a B\u00ecnh')}}",
            "{{_('H\u01b0ng Y\u00ean')}}",
            "{{_('Kh\u00e1nh H\u00f2a')}}",
            "{{_('Ki\u00ean Giang')}}",
            "{{_('Kon Tum')}}",
            "{{_('Lai Ch\u00e2u')}}",
            "{{_('L\u00e2m \u0110\u1ed3ng')}}",
            "{{_('L\u1ea1ng S\u01a1n')}}",
            "{{_('L\u00e0o Cai')}}",
            "{{_('Long An')}}",
            "{{_('Nam \u0110\u1ecbnh')}}",
            "{{_('Ngh\u1ec7 An')}}",
            "{{_('Ninh B\u00ecnh')}}",
            "{{_('Ninh Thu\u1eadn')}}",
            "{{_('Ph\u00fa Th\u1ecd')}}",
            "{{_('Ph\u00fa Y\u00ean')}}",
            "{{_('Qu\u1ea3ng B\u00ecnh')}}",
            "{{_('Qu\u1ea3ng Nam')}}",
            "{{_('Qu\u1ea3ng Ng\u00e3i')}}",
            "{{_('Qu\u1ea3ng Ninh')}}",
            "{{_('Qu\u1ea3ng Tr\u1ecb')}}",
            "{{_('S\u00f3c Tr\u0103ng')}}",
            "{{_('S\u01a1n La')}}",
            "{{_('T\u00e2y Ninh')}}",
            "{{_('Th\u00e1i B\u00ecnh')}}",
            "{{_('Th\u00e1i Nguy\u00ean')}}",
            "{{_('Thanh H\u00f3a')}}",
            "{{_('Th\u1eeba Thi\u00ean - Hu\u1ebf')}}",
            "{{_('Ti\u1ec1n Giang')}}",
            "{{_('Tr\u00e0 Vinh')}}",
            "{{_('Tuy\u00ean Quang')}}",
            "{{_('V\u0129nh Long')}}",
            "{{_('V\u0129nh Ph\u00fac')}}",
            "{{_('Y\u00ean B\u00e1i')}}"
        ],

        };

        const countrySelect = document.getElementById('field-country');
        const adl1Select = document.getElementById('adl1');

        countrySelect.addEventListener('change', function() {
            const selectedCountry = countrySelect.value;
            const adl1s = adl1Options[selectedCountry] || [];
            adl1Select.innerHTML = '<option value="">Select administrative level 1</option>'; // Reset the city dropdown

            adl1s.forEach(function(adl1) {
                const option = document.createElement('option');
                option.value = adl1;
                option.textContent = adl1;
                adl1Select.appendChild(option);
            });
        });
    });
</script>




