{% import 'macros/form.html' as form %}
    

    {{ form.select('area', label=_('Area'), options='', error='') }}



<script>
    document.addEventListener('DOMContentLoaded', function() {
        const areaOptions = {
            '{{_('Paris')}}': ['{{_('malpariz')}}', '{{_('borimecka')}}'],
            '{{_('Vienna')}}': ['{{_('karpos')}}', '{{_('remo')}}'],
        };

        const citySelect = document.getElementById('city');
        const areaSelect = document.getElementById('area');

        citySelect.addEventListener('change', function() {
            const selectedCity = citySelect.value;
            const areas = areaOptions[selectedCity] || [];
            areaSelect.innerHTML = '<option value="">Select a area</option>'; // Reset the area dropdown

            areas.forEach(function(area) {
                const option = document.createElement('option');
                option.value = area;
                option.textContent = area;
                areaSelect.appendChild(option);
            });
        });
    });
</script>
